@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --logo: url("/creatyum-logo-k.svg");
  --logo-icon: url("/creatyum-icon-k.svg");
  --navbar-open: url("/icons/hamburger-k.svg");
  --navbar-close: url("/icons/close-k.svg");
}

@media (prefers-color-scheme: dark) {
  :root {
    --logo: url("/creatyum-logo-y.svg");
    --logo-icon: url("/creatyum-icon-y.svg");
    --navbar-open: url("/icons/hamburger-y.svg");
    --navbar-close: url("/icons/close-y.svg");
  }
}

/* HEADERS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-spacemono);
}

/* LOGO-ICON */
.logo {
  background-image: var(--logo);
  width: 114px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo-icon {
  background-image: var(--logo-icon);
  width: 64px;
  height: 64px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .logo {
    width: 159px;
    height: 55px;
  }

  .logo-icon {
    width: 32px;
    height: 32px;
  }
}

/* NAVBAR */
.navbar-open {
  background-image: var(--navbar-open);
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.navbar-close {
  background-image: var(--navbar-close);
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -8px;
}
